@charset "UTF-8";
/** @format */
#main {
  /* 메인 페이지 top */
}
#main #youtube__recom {
  margin-top: 140px;
}
#main #youtube__recom .main__title {
  text-align: center;
  font-weight: 700;
  font-size: 38px;
  font-family: var(--font-Eng);
  position: relative;
  margin-bottom: 24px;
}
#main #youtube__recom .main__title em {
  color: var(--main-color);
}
#main #youtube__recom .main__title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background: var(--main-color);
  transform: translate(-50%, -50%);
}
#main #youtube__recom .main__sub {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 70px;
}
#main #youtube__recom .main__sub em {
  color: var(--main-color);
}
#main #youtube__recom .main__youtube__music {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#main #youtube__recom .main__youtube__music .player__left {
  width: 60%;
}
#main #youtube__recom .main__youtube__music .player__left img {
  width: 100%;
  border-radius: 10px;
}
#main #youtube__recom .main__youtube__music .player__right {
  width: 35%;
  text-align: center;
}
#main #youtube__recom .main__youtube__music .player__right .you__title {
  font-family: var(--font-Eng);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
#main #youtube__recom .main__youtube__music .player__right .you__title img {
  width: 16px;
  height: 16px;
  vertical-align: -1px;
  margin-right: 5px;
}
#main #youtube__recom .main__youtube__music .player__right h3 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 24px;
}
#main #youtube__recom .main__youtube__music .player__right em {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
  display: block;
}
#main #youtube__recom .main__youtube__music .player__right .main__tag {
  margin-bottom: 10px;
}
#main #youtube__recom .main__youtube__music .player__right .main__tag ul li {
  display: inline-block;
  font-size: 14px;
  padding: 5px;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .play__btn {
  width: 20%;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .play__btn .play {
  display: inline-block;
  background: url("../img/play_button.svg");
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .play__btn .stop {
  display: inline-block;
  background: url("../img/stop_button.svg");
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box {
  width: 50%;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box .progress {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 5px;
  background: #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box .progress .bar {
  position: relative;
  z-index: 2;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  background: #02ee9f;
}
#main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box .progress .bar .bar__btn {
  position: absolute;
  top: 2px;
  left: 50px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  background: #02ee9f;
  border-radius: 50%;
  z-index: 10px;
}
#main #youtube__recom .main__youtube__music .player__right .main__icon {
  display: flex;
  justify-content: center;
}
#main #youtube__recom .main__youtube__music .player__right .main__icon > a {
  width: 20%;
}
#main #youtube__recom .main__youtube__music .player__right .main__icon > a img {
  width: 30px;
  height: 30px;
}

@media (max-width: 960px) {
  #main #youtube__recom .main__youtube__music {
    flex-direction: column;
    align-items: center;
  }
  #main #youtube__recom .main__youtube__music .player__left {
    width: 100%;
    margin-bottom: 20px;
  }
  #main #youtube__recom .main__youtube__music .player__right {
    width: 100%;
  }
  #main #youtube__recom .main__youtube__music .player__right .main__tag {
    margin-bottom: 30px;
  }
  #main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box {
    width: 25%;
  }
  #main #youtube__recom .main__youtube__music .player__right .main__playBtn .progress__box .progress {
    width: 130px;
  }
}
.top__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.top__title .top__left {
  width: 45%;
  font-size: 40px;
  font-weight: 900;
  position: relative;
}
.top__title .top__left::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 140px;
  height: 2px;
  background: var(--main-color);
}
.top__title .top__left em {
  color: var(--main-color);
}
.top__title .top__rigth img {
  width: 430px;
}

.top__music__list {
  margin-bottom: 70px;
}
.top__music__list h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.top__music__list .tag__box {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #1f1f1f;
  padding-bottom: 15px;
  font-family: var(--font-korSub);
  font-weight: 300;
  padding: 12px 10px;
  transition: all 0.3s;
  border-bottom: 1px solid #1f1f1f;
}
.top__music__list .tag__box:hover {
  background: #252525;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 5px;
}
.top__music__list .tag__box > img {
  width: 9%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}
.top__music__list .tag__box .tag__duration {
  width: 40%;
  font-family: var(--font-korSub);
}
.top__music__list .tag__box .tag__duration .duration__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top__music__list .tag__box .tag__duration .duration__top img {
  display: block;
  width: 15%;
  height: 50px;
  margin-right: -15px;
}
.top__music__list .tag__box .tag__duration .duration__top .duration__time {
  width: 13%;
}
.top__music__list .tag__box .tag__duration .duration__bot {
  margin-top: 30px;
  margin-left: 15px;
}
.top__music__list .tag__box .tag__duration .duration__bot span {
  color: var(--main-color);
}
.top__music__list .tag__box .tag__tags {
  width: 30%;
}
.top__music__list .tag__box .tag__tags ul {
  text-align: center;
}
.top__music__list .tag__box .tag__tags ul li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 15px;
}
.top__music__list .tag__box .tag__tags ul li a {
  display: inline-block;
  font-size: 16px;
}
.top__music__list .tag__box .tag__icon {
  width: 20%;
  margin-top: 15px;
  text-align: center;
}
.top__music__list .tag__box .tag__icon .play {
  width: 26px;
  height: 26px;
  display: inline-block;
  background: url("../img/Artist.svg") no-repeat center/cover;
  margin-right: 15px;
}
.top__music__list .tag__box .tag__icon .stop {
  width: 26px;
  height: 26px;
  display: inline-block;
  background: url("../img/Mute.svg") no-repeat center/cover;
  margin-right: 15px;
}
.top__music__list .tag__box .tag__icon .youtube {
  width: 35px;
  height: 26px;
  display: inline-block;
  background: url("../img/Vector.svg") no-repeat center/cover;
}

.add__link {
  text-align: center;
  margin-bottom: 250px;
}
.add__link a {
  border: 1px solid #979797;
  padding: 10px 50px;
  font-size: 18px;
  border-radius: 50px;
  color: #979797;
  transition: all 0.3s;
}
.add__link a:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}/*# sourceMappingURL=main.css.map */