/** @format */

#thema__search__detail {
	margin-top: 65px;
	margin-bottom: 260px;
}

.thema__search__detail__top {
	// background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
	// 	url("../img/thema__search__detail_bg.png") no-repeat center/cover;
	background: url("../img/thema__search__detail_bg.png") no-repeat;
	height: 450px;
	margin-bottom: 90px;
	display: flex;
	align-items: flex-end;

	.thema__search__detail__top__inner {
		display: flex;
		// padding-top: 210px;

		img {
			width: 30%;
			margin-right: 5%;
			display: block;
		}

		h2 {
			width: 65%;
			font-family: var(--font-main);

			.main__title {
				font-size: 38px;
				font-weight: 900;
				margin-bottom: 20px;

				span {
					color: var(--font-colorSub1);
				}
			}

			.sub__title {
				font-size: 24px;
				font-weight: 500;

				span {
					color: var(--font-colorSub1);
					position: relative;

					&::after {
						content: "";
						position: absolute;
						top: 0px;
						right: -170px;
						display: inline-block;
						width: 42px;
						height: 26px;
						background: url("../img/Cassette.svg") no-repeat center/cover;
					}
				}
			}
		}
	}
}

.thema__search__detail__inner {
	position: relative;

	.volume {
		position: absolute;
		top: -50px;
		left: 30px;
		margin: 0 auto;
		width: 7%;
		height: 5px;
		background: #e5e5e5;
		border-radius: 5px;
		cursor: pointer;

		.bar {
			position: relative;
			z-index: 2;
			width: 50%;
			height: 5px;
			border-radius: 5px;
			background: #02ee9f;

			.bar__btn {
				position: absolute;
				top: 2px;
				left: 100%;
				transform: translate(-50%, -50%);
				width: 10px;
				height: 10px;
				background: #02ee9f;
				border-radius: 50%;
			}
		}

		&::before {
			content: "";
			position: absolute;
			left: -35px;
			top: -10px;
			display: inline-block;
			width: 25px;
			height: 25px;
			background: url("../img/VolumeUp.svg") no-repeat center/cover;
		}
	}

	.thema__search__detail__music {
		.thema__search__detail__box {
			display: flex;
			justify-content: space-between;
			border-bottom: 1px solid #1f1f1f;
			padding-bottom: 15px;
			transition: all 0.3s;
			border-bottom: 1px solid #1f1f1f;
			padding: 12px 10px;
			&:hover {
				background: #252525;
				backdrop-filter: blur(10px);
				border-radius: 5px;
			}

			> img {
				width: 9%;
				object-fit: cover;
				margin-right: 15px;
			}

			.thema__duration {
				width: 40%;

				.duration__top {
					display: flex;
					align-items: center;
					justify-content: space-between;

					img {
						display: block;
						width: 15%;
						height: 50px;
						margin-right: -15px;
					}

					.duration__time {
						width: 13%;
					}
				}

				.duration__bot {
					margin-top: 30px;
					margin-left: 15px;

					span {
						color: var(--main-color);
					}
				}
			}

			.thema__tags {
				width: 30%;

				ul {
					text-align: center;

					li {
						display: inline-block;
						margin-right: 20px;
						margin-top: 15px;

						a {
							display: inline-block;
							font-size: 16px;
						}
					}
				}
			}

			.thema__icon {
				width: 20%;
				margin-top: 15px;
				text-align: center;

				.play {
					width: 26px;
					height: 26px;
					display: inline-block;
					background: url("../img/Artist.svg") no-repeat center/cover;
					margin-right: 15px;
				}

				.stop {
					width: 26px;
					height: 26px;
					display: inline-block;
					background: url("../img/Mute.svg") no-repeat center/cover;
					margin-right: 15px;
				}

				.youtube {
					width: 35px;
					height: 26px;
					display: inline-block;
					background: url("../img/Vector.svg") no-repeat center/cover;
				}
			}
		}
	}
}
